node_modules
dist
coverage
docker/dynamodb

.env
.env.local
.env.*.local

.git
.gitignore
*.log
.DS_Store

src/__tests__
jest.config.mjs
jest.setup.ts
jest.integration.setup.ts
eslint.config.mjs
.prettierrc.mjs
.prettierignore
